<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="preconnect" href="https://cognito-identity.us-east-1.amazonaws.com" crossorigin="use-credentials" />
	<link rel="preconnect" href="https://www.google-analytics.com" />
	<link rel="preload" href="/app.css" as="style" />
	<link rel="preload" href="/react-material-class-layout.min.css" as="style" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
	<meta name="msapplication-TileColor" content="#9f00a7">
	<meta name="theme-color" content="#ffffff">
	<script src="https://js.stripe.com/v3/" defer></script>
	<title>
		<%= htmlWebpackPlugin.options.title %>
	</title>
</head>

<body class="flex layout-column">
	<div id="app" class="flex layout-column">
		<div class="flex layout-column layout-align-center-center">
			<svg id="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="400"
				height="400" viewBox="0, 0, 400,400"
				style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
				<g id="svgg">
					<title>Logo</title>
					<path fill="<%= htmlWebpackPlugin.options.BLACK %>" fillRule="evenodd"
						d="<%= htmlWebpackPlugin.options.LOGO %>" />
				</g>
			</svg>
		</div>
	</div>
	<script type="text/javascript" src="/fontLoad.js"></script>
	<script type="text/javascript" src="/loadCSS.js"></script>
</body>

</html>