<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="preconnect" href="https://cognito-identity.us-east-1.amazonaws.com" crossorigin="use-credentials" />
	<link rel="preconnect" href="https://www.google-analytics.com" />
	<link rel="preload" href="/app.css" as="style" />
	<link rel="preload" href="/react-material-class-layout.min.css" as="style" />
	<!-- <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/favicon-48x48.png" sizes="48x48" /> -->
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<script src="https://js.stripe.com/v3/" defer></script>
	<title>
		<%= htmlWebpackPlugin.options.title %>
	</title>
</head>

<body class="flex layout-column">
	<div id="app" class="flex layout-column">
		<div class="flex layout-column layout-align-center-center">
			<svg id="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="400"
				height="400" viewBox="0, 0, 400,400"
				style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
				<g id="svgg">
					<title>Logo</title>
					<path fill="<%= htmlWebpackPlugin.options.BLACK %>" fillRule="evenodd"
						d="<%= htmlWebpackPlugin.options.LOGO %>" />
				</g>
			</svg>
		</div>
	</div>
	<script type="text/javascript" src="/fontLoad.js"></script>
	<script type="text/javascript" src="/loadCSS.js"></script>
</body>

</html>